<div class="login">
  <div class="container align-vert">
    <div class="row">
      <div class="col-sm-12 fx jc-c">
        <mat-card class="width-100">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12 fx jc-c title text-color">BEM VINDO AO</div>
              </div>
              <div class="row">
                <div class="col-sm-12 fx jc-c sub-text">Aluno Online</div>
              </div>

              <div class="row fx jc-c">
                <div class="col-sm-8">
                  <form [formGroup]="form">
                    <mat-form-field class="width-100" appearance="outline">
                      <mat-icon matPrefix>perm_identity</mat-icon>
                      <mat-label>Matrícula</mat-label>
                      <input matInput placeholder="Placeholder" formControlName="matricula">
                    </mat-form-field>
                  </form>
                </div>
              </div>

              <div class="row fx jc-c">
                <div class="col-sm-8 fx">
                  <mat-form-field class="width-100" appearance="outline">
                    <mat-icon matPrefix>lock</mat-icon>
                    <mat-label>Senha</mat-label>
                    <input type="password" matInput placeholder="Placeholder" (keydown.enter)="irParaAlunoOnline()">
                  </mat-form-field>
                </div>
              </div>

              <div class="row fx jc-c">
                <div class="col-sm-8">
                  <button class="width-100" mat-raised-button color="warn" (click)="irParaAlunoOnline()">Entrar</button>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 fx jc-c">
                  <p class="text-color">Esqueceu sua senha?
                    <span class="danger c-p">Clique aqui!</span>
                  </p>
                </div>
              </div>

              <div class="row fx jc-se botoes">
                <button mat-fab class="bg-white">
                  <i class="fa fa-facebook fa-2 fb-color" aria-hidden="true"></i>
                </button>
                <button mat-fab class="bg-white">
                  <i class="fa fa-twitter fa-2 tt-color" aria-hidden="true"></i>
                </button>
                <button mat-fab class="bg-white">
                  <i class="fa fa-youtube fa-2 yt-color" aria-hidden="true"></i>
                </button>
                <button mat-fab class="bg-white">
                  Bb
                </button>
              </div>
            </div>

            <div class="col-sm-6 background-iesb fx jc-c ai-c">
              <img src="../../../assets/img/logo.png" alt="">
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>