$primary-color: #237392;
$secondary-color: #17a2b8;
$default-color: #999999;
$background-color: #eeeeee;
$default-color-dark: #666666;
$danger-color: #d9534f;
$primary-light-color: #007acc;
$success-color: green;
$background-color: #da634f;
