<div class="chat">
  <div class="chatbot">
    <div class="row mb--16">
      <div class="col-sm-2">
        <div class="rounded-pic">
          <img src="../../../assets/img/robot-icon.png">
        </div>
      </div>

      <div class="col-sm-8">
        <div class="row">
          Túlio
        </div>
        <div class="row dialogo">
          Olá! Meu nome é Túlio, como posso te ajudar?
        </div>
      </div>
    </div>

    <div class="row mb--16">
      <div class="col-sm-2"></div>

      <div class="col-sm-8">
        <div class="row ta-right">
          Túlio
        </div>
        <div class="row dialogo-aluno">
          Olá! Meu nome é Túlio, como posso te ajudar?
        </div>
      </div>

      <div class="col-sm-2">
        <div class="rounded-pic">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row chatbot-input pos-rel">
    <div class="col-sm-11">
      <mat-form-field class="width-100" appearance="outline">
        <mat-label>Digite aqui</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </div>

    <div class="col-sm-1 send-button">
      <button type="button" mat-icon-button>
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>