@import 'assets/scss/styles';
@import 'assets/scss/color-palette';
@import 'assets/scss/material-icon';
@import 'assets/scss/bootstrap-grid';

html, body { height: 100%; }
body {     
    font-family: "BentonSans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.fx {
    display: flex;
}

.jc-c {
    justify-content: center;
}